{{ define "main" }}

<!-- teacher details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <img class="img-fluid w-100" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
      </div>
      <div class="col-md-6 mb-5">
        <h3>{{ .Title }}</h3>
        <h6 class="text-color">{{ .Params.Bio | markdownify }}</h6>
        <ul class="list-unstyled">
          {{ range .Params.Interest }}
          <li class="mb-2">{{ . | title }}</li>
          {{ end }}
        </ul>
        <div class="row mt-4">
          <div class="col-md-8 mb-8 mb-md-0 mt-4">
            <h6 class="mb-2">{{ i18n "contact_info" | upper}}:</h6>
            
            <ul class="list-unstyled">
              {{ range .Params.Contact }}
              <li class="mb-2"><a class="text-color" href="{{ .link | safeURL }}"><i class="{{ .icon }} mr-2"></i>{{ .name }}</a></li>
              {{ end }}
            </ul>

          </div>
        </div>
      </div>
      <div class="col-12 content text-justify">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  {{ if .Params.in_the_news }}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-4">{{ i18n "in_the_news" | upper}}</h4>
      </div>
      <!-- news item -->
      {{ range where site.RegularPages "Params.related_people" "intersect" (.Title | slice) }}
			<div class="col-lg-4 col-sm-6 mb-4">
				{{ .Render "post" }}
			</div>
			{{ end }}
    </div>
  </div>
  {{ end }}
</section>

{{ end }}